*~

# Mac OS files #
################
.DS_Store?

# ReSharper files #
###################
_ReSharper*/
data/

# User specific settings #
##########################
*.user

# Binary files #
################
bin/
obj/